@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.logo {
  height: 4.5vw;
}

.logo2 {
  height: 8vw;
  margin-top: 1vw;
}

.brt-logo {
  height: 10vw;
  margin-top: -3vw;
  margin-bottom: -1vw;
}

.barrita {
  bottom: -1px;
}

.sect1 {
  padding-top: 3vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
